<div class="jumbotron text-center">
    <h1>Home Page</h1>
    <a href="/users" class="btn btn-lg btn-danger"> See Users</a>
    <a href="/phones" class="btn btn-lg btn-danger"> See Phones</a>
</div>